In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta
import statsmodels.api as sm
from statsmodels.tsa.exponential_smoothing.ets import ETSModel
from statsmodels.tsa.arima.model import ARIMA
from sklearn.cluster import KMeans

In [2]:
path = "d:\moje_dokumenty\Desktop\matfyz\mgr\semester 11\Projektovy seminar\dhi_data2"

In [6]:
files = os.listdir(path)

In [78]:
dataframes_dict = {}

# Import each file as a separate DataFrame and assign headers
for file_name in files:
    if file_name.endswith('.csv'):  # Check if the file is a CSV file
        # Extract headers from the filename by splitting it by "_"
        headers = file_name.split("_")
        header = "_".join(headers[1:])
        header = header.split(".")[0]
        headers = ["date", header]

        # Read the CSV file into a DataFrame, specifying column names as headers
        file_path = os.path.join(path, file_name)
        df = pd.read_csv(file_path, header=None, names=headers, sep=";")
        df["date"] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M:%S')

        # Store the DataFrame in the dictionary with the filename as the key
        dataframes_dict[file_name] = df

In [79]:
sites = set(x.split("_")[0] for x in files)
site_dataframes = {}

for site in sites:
    df = pd.DataFrame(columns=['date'])
    for file in files:
        if file.startswith(site):
            site_df = dataframes_dict[file]
            df = pd.merge(df, site_df, on='date', how='outer')
    site_dataframes[site] = df

In [84]:
sites

{'MP1', 'MP2', 'MP3', 'MP4', 'MP5', 'MP6', 'MP7'}

In [80]:
i=-1

In [81]:
i+=1
site_dataframes[list(sites)[i]]

,date,hladina_result,hladina_TL_zdroj,hladina_UZ_zdroj,prutok_computed,rychlost_result,rychlost_zdroj
0,2022-06-15 09:55:00,0.07800,0.078,0.083,0.00522,0.184,0.184
1,2022-06-15 09:57:00,0.07800,0.078,0.082,0.00527,0.186,0.186
2,2022-06-15 09:59:00,0.07600,0.076,0.081,0.00505,0.185,0.185
3,2022-06-15 10:01:00,0.07600,0.076,0.081,0.00510,0.187,0.187
4,2022-06-15 10:03:00,0.07700,0.077,0.082,0.00523,0.188,0.188
...,...,...,...,...,...,...,...
66252,2022-09-15 10:19:00,0.07099,0.071,0.081,0.00459,0.186,0.186
66253,2022-09-15 10:21:00,0.06399,0.064,0.076,0.00353,0.167,0.167
66254,2022-09-15 10:23:00,NaN,0.070,0.074,NaN,0.164,0.164
66255,2022-09-15 10:25:00,NaN,0.017,0.079,NaN,0.230,0.230
66256,2022-09-15 10:27:00,NaN,0.000,0.079,NaN,0.230,0.230

In [87]:
for site in sorted(sites):
    print(site)
    df = site_dataframes[site]
    print(df.shape)
    print(site + " NAs:")
    print(df.isna().sum())
    print(f"{site} from {df['date'].min()} to {df['date'].max()}")
    print(site + " observation intervals:")
    print(df['date'].diff().dropna().value_counts())
    print(df["prutok_computed"].describe())

MP1
(99337, 7)
MP1 NAs:
date                    0
hladina_result      18865
hladina_TL_zdroj      371
hladina_UZ_zdroj      386
prutok_computed     18865
rychlost_result     18794
rychlost_zdroj        371
dtype: int64
MP1 from 2022-06-30 11:08:00 to 2022-10-20 08:16:00
MP1 observation intervals:
0 days 00:02:00        99290
0 days 00:01:00           34
0 days 00:04:00            3
0 days 00:03:00            1
0 days 00:06:00            1
0 days 00:12:00            1
-1 days +23:12:00          1
0 days 00:14:00            1
0 days 00:26:00            1
-112 days +03:34:00        1
-112 days +04:44:00        1
85 days 16:49:00           1
Name: date, dtype: int64
count    80472.000000
mean         0.184037
std          0.127910
min          0.052010
25%          0.125930
50%          0.163455
75%          0.196762
max          1.745810
Name: prutok_computed, dtype: float64
MP2
(66257, 7)
MP2 NAs:
date                   0
hladina_result         3
hladina_TL_zdroj    2092
hladina_UZ_zdroj    2092
prutok_computed        3
rychlost_result        0
rychlost_zdroj      2092
dtype: int64
MP2 from 2022-06-15 09:55:00 to 2022-09-15 10:27:00
MP2 observation intervals:
0 days 00:02:00    66256
Name: date, dtype: int64
count    66254.000000
mean         0.005588
std          0.010546
min          0.001350
25%          0.003350
50%          0.004330
75%          0.005430
max          0.419260
Name: prutok_computed, dtype: float64
MP3
(80845, 7)
MP3 NAs:
date                  0
hladina TL_zdroj    185
hladina UZ_zdroj    254
hladina_result       76
prutok_computed      96
rychlost_result      96
rychlost_zdroj      185
dtype: int64
MP3 from 2021-01-26 07:41:00 to 2021-05-18 13:48:00
MP3 observation intervals:
0 days 00:02:00        80763
0 days 00:01:00           67
0 days 00:04:00            5
0 days 00:06:00            1
34 days 18:00:00           1
0 days 00:24:00            1
0 days 06:02:00            1
3 days 13:36:00            1
20 days 12:02:00           1
0 days 00:16:00            1
33 days 05:42:00           1
-113 days +19:48:00        1
Name: date, dtype: int64
count    80749.000000
mean         0.035589
std          0.031501
min          0.000000
25%          0.019790
50%          0.030760
75%          0.044160
max          1.334000
Name: prutok_computed, dtype: float64
MP4
(69887, 7)
MP4 NAs:
date                   0
hladina TL_zdroj    8437
hladina UZ_zdroj    8453
hladina_result        26
prutok_computed      246
rychlost_result      244
rychlost_zdroj      8436
dtype: int64
MP4 from 2021-11-22 23:03:00 to 2022-02-28 00:04:00
MP4 observation intervals:
0 days 00:02:00       69826
0 days 00:00:00          22
0 days 00:01:00          22
0 days 00:04:00           4
-97 days +00:30:00        1
0 days 00:36:00           1
11 days 04:24:00          1
0 days 06:02:00           1
6 days 06:02:00           1
30 days 12:02:00          1
18 days 02:08:00          1
0 days 00:11:00           1
0 days 00:26:00           1
0 days 00:16:00           1
0 days 06:00:00           1
7 days 16:40:00           1
Name: date, dtype: int64
count    69641.000000
mean         0.151225
std          0.062131
min          0.067000
25%          0.122410
50%          0.141620
75%          0.163820
max          1.195460
Name: prutok_computed, dtype: float64
MP5
(75554, 6)
MP5 NAs:
date                   0
hladina_result        84
hladina_UZ_zdroj    2158
prutok_computed       84
rychlost_result        2
rychlost_zdroj      1806
dtype: int64
MP5 from 2021-06-28 09:05:00 to 2021-10-11 07:30:00
MP5 observation intervals:
0 days 00:02:00        75547
104 days 19:42:00          1
-105 days +01:58:00        1
0 days 01:00:00            1
0 days 00:01:00            1
-105 days +01:39:00        1
104 days 21:08:00          1
Name: date, dtype: int64
count    75470.000000
mean         0.001586
std          0.010416
min          0.000010
25%          0.000430
50%          0.000790
75%          0.001140
max          0.747590
Name: prutok_computed, dtype: float64
MP6
(74923, 7)
MP6 NAs:
date                  0
hladina TL_zdroj    203
hladina UZ_zdroj    220
hladina_result       19
prutok_computed      19
rychlost_result      17
rychlost_zdroj      204
dtype: int64
MP6 from 2022-11-13 01:29:00 to 2023-02-25 02:40:00
MP6 observation intervals:
0 days 00:02:00        74864
0 days 00:04:00           19
0 days 00:01:00           14
0 days 00:06:00            2
0 days 12:00:00            2
3 days 06:02:00            1
2 days 06:00:00            1
-105 days +23:06:00        1
0 days 00:10:00            1
14 days 19:56:00           1
0 days 18:00:00            1
6 days 10:04:00            1
5 days 18:04:00            1
8 days 12:00:00            1
0 days 04:40:00            1
0 days 11:58:00            1
5 days 18:52:00            1
1 days 12:00:00            1
0 days 00:05:00            1
5 days 18:00:00            1
0 days 06:02:00            1
0 days 23:58:00            1
0 days 00:42:00            1
34 days 13:32:00           1
6 days 18:00:00            1
1 days 19:14:00            1
Name: date, dtype: int64
count    74904.000000
mean         0.132049
std          0.081955
min          0.053390
25%          0.101730
50%          0.124660
75%          0.140983
max          1.617220
Name: prutok_computed, dtype: float64
MP7
(66508, 7)
MP7 NAs:
date                   0
hladina TL_zdroj     181
hladina UZ_zdroj    1934
hladina_result        42
prutok_computed      181
rychlost_result       18
rychlost_zdroj       181
dtype: int64
MP7 from 2019-07-25 15:03:00 to 2019-10-25 23:59:00
MP7 observation intervals:
0 days 00:02:00       66502
0 days 00:04:00           2
38 days 07:56:00          1
0 days 06:02:00           1
-67 days +15:02:00        1
Name: date, dtype: int64
count    66327.000000
mean         0.125162
std          0.072434
min          0.000000
25%          0.094800
50%          0.127300
75%          0.146600
max          0.958300
Name: prutok_computed, dtype: float64